.bread-crumb-class{
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.Input-formcontrol-style {
    width: 100%;
    max-width: 400px;
    height: 55px;
    
}

.InputStyle {
    height: 55px;
}


