.bread-crumb-class{
    width: 100%;
    max-width: 400px;
    margin: auto;
    cursor: pointer;
}

.Input-formcontrol-style {
    width: 100%;
    max-width: 400px;
    height: 55px;
}

.InputStyle {
    height: 55px;
}

.protocol-div-container{
    width: 100%;
    max-width: 600px;
    min-height: 100%;
    margin: 0px auto 0px auto;
    position: relative;
}

.protocol-div-container .MuiButtonBase-root{
    color: #A23A41!important;
    border: 2px solid #A23A41!important;
    margin: 10px 15px!important;
    
}

.MuiButtonBase-root .custom-btn-styling-stuff:hover{
    font-weight: bold!important;
}