td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 16px;
  }
  
  .instruction-container{
      width: 100%;
      max-width: 850px;
      margin: 0px auto 0px auto;
  }
  
  
  .centerTable {
    display: flex;
    justify-content: center;
  }
  
  .bread-crumb-class{
    width: 100%;
    max-width: 850px;
    margin: 0px auto 0px auto!important;
    cursor: pointer;
  }
  
  .btn-box .MuiButtonBase-root{
    color: #A23A41!important;
    border: 2px solid #A23A41!important;
    margin: 10px 15px!important;
    
  }
  
  .calendar-btns .MuiButtonBase-root:hover{
    background-color: white!important;
  }
  
  .calendar-btns .MuiButtonBase-root{
    font-weight: bold!important;
    color: #A23A41!important;
  
  }
  
  @media print {
    tr {
      page-break-inside: avoid;
    }

    header {
      visibility: hidden;
    }
  
    .instruction-section{
      width: 500px;
    }
  
    .MuiButtonBase-root{
      visibility: hidden;
    }
  
    .bread-crumb-class{
      visibility: hidden;
    }
  
    .copyright-footer-loc{
      visibility: hidden;
    }
  
    .link-grid-footer{
      visibility: hidden;
    }
  
    .Footer{
      visibility: hidden;
    }
  }